*{
	margin: 0px;
	padding: 0px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body{
	height: 100%;
}

/*Clear usado para limpar definicoes do float*/
.clear{
  clear: both;
}

.container{
  max-width: 1280px;
  margin: 0 auto;
}

header{
  background-image: url('../images/clean-code.png');
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 80vh;
  min-height: 500px;
  max-height: 500px;
  padding: 0 2%;
  font-weight: 300;
}

header .logo{
  float: left;
  width: 160px;
  height: 60px;
  background: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 20px;
}

/*============================Menu============================*/

header nav{
  float: right;
  padding-top: 40px;
}

nav.mobile-menu{
  cursor: pointer;
  display: none;
  width: 32px;
  height: 32px;
  background-image: url('../images/menu.png');
  background-size: 100% 100%;
  margin-top: 40px;

}

nav.mobile-menu ul{
  opacity: 0;
  transition: 1s;
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0;
  top: 80px;
  list-style-type: none;
  text-align: center;
}

nav.mobile-menu:hover ul{
  opacity: 1;
}

nav.mobile-menu ul li{
  transition: 0.4s;
  padding: 8px 0;
  border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover{
  background-color: rgb(230, 230, 230);
}

nav.mobile-menu ul li a{
  color: black;
  text-decoration: none;
}

header nav.desktop-menu ul{
  list-style-type: none;
}

header nav.desktop-menu li{
  float: left;
  margin: 0 20px;
}

header nav.desktop-menu li a{
  color: white;
  text-decoration: none;
}

/*============================Fim Menu============================*/

.chamada1{
  max-width: 600px;
  float: right;
  margin: 10% 20% 20% 20%;
  color: white;
}

.chamada1 h2{
  font-weight: 300;
  font-size: 35px;
}

.chamada1 p{
  max-width: 500px;
  font-size: 12px;
  margin-top: 10px;
}

/*============================Sessao 1============================*/
 section.sessao1{
  background-color: #472562;
  width: 100%;
  height: 350px;
  padding: 0 2%;
  font-weight: 300;
  position: relative;
  top: -130px;
}

section.sessao1 .container{
  max-width: 1000px;
}

.texto-sessao1{
  float: left;
  width: 50%;
  position: relative;
  left: 60px;
  margin-top: 60px;
  padding-left: 80px;
  color: white;
}

.texto-sessao1 h2{
  font-weight: 300;
  font-size: 26px;
}

.texto-sessao1 p{
  font-size: 15px;
  margin-top: 20px;
}

.texto-sessao1 ul{
  font-size: 15px;
  list-style-position: outside;
  padding-left: 15px;
}

.texto-sessao1 ul li{
  float: left;
  width: 100%;
  margin-top: 8px;
}

.botao-sessao1{
  background-color: #FF703D;
  width: 165px;
  height: 44px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  line-height: 44px;
  border-radius: 35px;
  font-size: 13px;
}

.device-sessao1{
  height: 400px;
  float: left;
  width: 50%;
  position: relative;
  top: -50px;
  right: 80px;
  background-image: url(../images/device.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/*============================Sessao 2============================*/
section.sessao2{
  background-color: white;
  text-align: center;
}

section.sessao2 .container{
  max-width: 1000px;
}

section.sessao2 h2{
  color: #472663;
  font-weight: 300;
  position: relative;
  top: -60px;
}

section.sessao2 p{
  display: inline-block;
  margin: 30px 4% 0 4%;
  max-width: 900px;
  position: relative;
  top: -30px;
}

section.sessao2 img{
  position: relative;
  top: 50px;
  margin: -50px auto;
  width: 80%;
  display: block;
}

/*============================Sessao 3============================*/
section.sessao3{
  width: 100%;
}

.wraper-parte1{
  max-width: 500px;
  float: right;
  padding: 0 30px;
}

.parte1{
  color: white;
  float: left;
  width: 50%;
  padding: 140px 0 90px 0;
  background: #835FA7;
}

.parte1 h2{
  font-weight: 300;
  font-style: italic;
  font-size: 23px;
}

.parte1 p{
  font-size: 15px;
  line-height: 35px;
  margin-top: 10px;
}

.parte2{
  float: left;
  width: 50%;
  padding: 140px 0 90px 0;
}

.sobre-autor{
  float: left;
  max-width: 500px;
  padding: 0 30px;
}

.titulo-autor{
  float: left;
  width: 100%;
}

.titulo-autor h2{
  color: #232323;
  font-weight: 400px;
  font-size: 23px;
  padding-right: 20px;
}

.titulo-autor p{
  font-size: 13px;
  color: #232323;
  font-weight: 300;
  font-style: italic;
}

.titulo-autor .img-autor{
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: url(../images/pp2.jpg);
  background-size: 100% 100%;
  background-position: center;
}

.wraper-titulo-autor{
  float: left;
}

.texto-autor{
  float: left;
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
  color: #232323;
}

.slider-bullets{
  width: 100%;
  float: left;
  margin-top: 12px;
  padding-left: 30px;
}

.slider-bullets span{
  width: 16px;
  height: 16px;
  float: left;
  border-radius: 8px;
  margin-right: 8px;
  cursor: pointer;
  background-color: rgb(200, 200, 200);
}

/*============================Sessao 4============================*/
section.sessao4{
  background-color: #472563;
  width: 100%;
  min-height: 500px;
}

.wraper-contato{
  float: left;
  width: 50%;
  color: white;
}

.contato{
  padding: 0 50px;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.contato h2{
  font-size: 25px;
  font-weight: 300;
  padding-top: 30px;
  text-align: left;
}

.contato p{
  font-size: 15px;
  padding: 20px 0;
  text-align: left;
}

.contato input{
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.contato textarea{
  display: block;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  height: 120px;
}

.contato input[type=submit]{  /*Botao Contato*/
  width: 165px;
  height: 44px;
  color: white;
  background-color: #FF703D;
  font-size: 15px;
  text-align: center;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
}


.wraper-localizacao{
  float: left;
  width: 50%;
  color: white;
  text-align: center;
}

.localizacao{
  padding: 0 50px;
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.localizacao h2{
  text-align: left;
  font-size: 25px;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 20px;
}

.localizacao iframe{
  width: 100%;
  height: 310px;
  background-color: white;
}

footer{
  background-color: #192123;
  color: white;
  width: 100%;
  /*text-align: center;*/
  padding: 40px 5%;
  font-size: 14px;
}

footer p:nth-of-type(1){ /*Pseudo Classe para pegar o primeiro do tipo*/
  float: left;
}

footer p:nth-of-type(2){ /*Pseudo Classe para pegar o segundo do tipo*/
  float: right;
}

/*============================Media Query ============================*/
@media screen and (max-width: 950px){
  .device-sessao1{
    position: relative;
    right: 30px;
  }

.wraper-contato{
  width: 100%;
  float: none;
}

.contato h2{
  text-align: center;
}

.contato p{
  text-align: center;
}

.wraper-localizacao{
  width: 100%;
  float: none;
  padding-bottom: 50px; 
}

.localizacao h2{
  text-align: center;
}

.contato input[type=submit]{  /*Botao Contato*/
  margin: 20px auto;
  text-align: center;
  
}

}

@media screen and (max-width: 840px){
  .device-sessao1{
    position: relative;
    right: 0px;
  }
}

@media screen and (max-width: 768px){

  header{
    height: auto;
    min-height: 90vh;
  }

  nav.desktop-menu{
    display: none;
  }

  nav.mobile-menu{
    display: block;
  }

  section.sessao1{
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  .chamada1{
    max-width: none;
    text-align: left;
    float: none;
    margin: 100px 0;
  }

  .chamada1 h2{
    font-size: 30px;
    padding: 0 10px;
  }

  .texto-sessao1{
    width: 100%;
    margin-top: 0;
    position: static;
    float: none;
    display: inline-block;
    padding-left: 0;
  }

  .texto-sessao1 ul{
    display: inline-block;
    margin-top: 20px;
  }

  .texto-sessao1 ul li{
    float: none;
    text-align: left;
  }

  .botao-sessao1{
    display: inline-block;
  }

  .device-sessao1{
    display: none;
  }
}

@media screen and (max-width: 580px){
  .parte1{
    width: 100%;
  }

  .parte2{
    width: 100%;
  }

  footer{
    text-align: center;
  }

 footer p:nth-of-type(1){
  float: none;
}

footer p:nth-of-type(2){
  float: none;
}
}











